{% extends "base.twig" %}

{% block title %}Sign up
{% endblock %}

{% block footer %}

	<script src="/js/hideShowPassword.js"></script>
	<script src="/js/app.js"></script>

	<script>
		$(document).ready(function () {

$('#formSignup').validate({
rules: {
name: 'required',
email: {
required: true,
email: true,
remote: '/account/validate-email'
},
password: {
required: true,
minlength: 6,
validPassword: true
}
},
messages: {
password: {
required: "Password is required",
minlength: 'Must contain at least 6 characters',
validPassword: 'Must contain at least one letter and one number'
},
email: {
required: 'Email is required',
email: 'Provide a valid email format',
remote: 'Email is already in use'
},
name: {
required: "First name is required"
}
}
});
});
	</script>

{% endblock %}

{% block body %}

	<section>
		<header>
			<div>
				<h1 class="display-1 text-center p-3">Personal Budget</h1>
			</div>
		</header>
	</section>
	<main>
		<div class="container mt-1 p-3 h5 mx-auto">
			<form method="post" action="/signup/create" id="formSignup" class="bg-white rounded-lg opacity-75 shadow-lg p-3 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
				<div class="form-group mx-auto">
					<label for="name" class="font-weight-normal text-black">First name</label>
					<input type="text" class="form-control font-weight-bold text-dark border-4" class="error" id="name" name="name" aria-describedby="name" autofocus value="{{ user.name }}" required>
				</div>
				<div class="form-group mx-auto">
					<label for="email" class="font-weight-normal text-black">Email address</label>
					<input type="email" class="form-control font-weight-bold text-dark border-4 error" id="email" name="email" aria-describedby="email" value="{{ user.email }}" required type="email">
				</div>
				<div class="form-group mx-auto">
					<label for="password" class="font-weight-normal text-black">Password</label>
					<input type="password" class="form-control font-weight-bold text-dark border-4 error" id="password" name="password" required>
				</div>
				<div class="form-group">
					<label class="font-weight-normal text-black h5">Show me the Password!</label>
					<i>
						<span class="bi bi-eye-slash" id="togglePassword"></span>
					</i>
				</div>
				<button type="submit" class="greenButton my-3 p-1 d-block text-white btn btn-block mx-auto">Sign Up
				</button>
				<a href="/home/index" class="text-decoration-none blackButton my-1 p-1 d-block text-white btn btn-block mx-auto">Back
										                to Login Page</a>
			</form>
		</div>
	</main>

{% endblock %}
