{% extends "base.html" %}

{% block title %}Income{% endblock %}

{% block footer %}

<script>
    $(document).ready(function () {

        $('#formExpense').validate({
            rules: {
                amount: 'required',
                category: 'required',
            },
            messages: {
                amount: {
                    required: "Amount is required",
                },
                category: {
                    required: "Category is required",
                },
            }
        });
    });
</script>

{% endblock %}

{% block body %}

<article>
    <div class="container mt-2 p-2 h5 mx-auto">
        <form method="post" id="formExpense" action="/expense/add"
            class="bg-white rounded-lg opacity-75 shadow-lg p-3 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4 ">
            <div class="mb-2">
                <h1 class="display-6 text-center p-0">Expense</h1>
            </div>
            <div class="form-group mx-auto">
                <label for="amount" class="font-weight-normal text-black">Amount</label>
                <input type="number" min="0" step="0.01" class="form-control font-weight-bold text-dark border-4"
                    id="amount" name="amount" aria-describedby="amount" required>
            </div>
            <div class="form-group mx-auto">
                <label for="date" class="font-weight-normal text-black">Date</label>
                <input type="date" class="form-control font-weight-bold text-dark border-4" id="date" name="date"
                    aria-describedby="date" required>
            </div>
            <div class="mx-auto mb-2">
                <label class=" font-weight-normal text-black">Payment method:</label>
                <div>
                    <label for="cash" class="font-weight-bold h6">Cash</label>
                    <input type="radio" id="cash" name="payment_method" value="Cash" checked>
                </div>
                <div>
                    <label for="debitCard" class="font-weight-bold h6">Debit Card</label>
                    <input type="radio" id="debitCard" name="payment_method" value="Debit Card" checked>
                </div>
                <div>
                    <label for="creditCard" class="font-weight-bold h6">Credit Card</label>
                    <input type="radio" id="creditCard" name="payment_method" value="Credit Card" checked>
                </div>
            </div>
            <div class="form-group mx-auto">
                <label for="category" class="font-weight-normal text-black">Category</label>
                <select class="form-control text-dark border-4" id="category" size="4" name="category"
                    aria-describedby="category" required>
                    <option value="transport" class="font-weight-bold">Transport</option>
                    <option value="books" class="font-weight-bold">Books</option>
                    <option value="food" class="font-weight-bold">Food</option>
                    <option value="apartments" class="font-weight-bold">Apartments</option>
                    <option value="telecommunication" class="font-weight-bold">Telecommunication</option>
                    <option value="health" class="font-weight-bold">Health</option>
                    <option value="clothes" class="font-weight-bold">Clothes</option>
                    <option value="hygiene" class="font-weight-bold">Hygiene</option>
                    <option value="kids" class="font-weight-bold">Kids</option>
                    <option value="recreation" class="font-weight-bold">Recreation</option>
                    <option value="trip" class="font-weight-bold">Trip</option>
                    <option value="savings" class="font-weight-bold">Savings</option>
                    <option value="for retirement" class="font-weight-bold">For Retirement</option>
                    <option value="debt repayment" class="font-weight-bold">Debt Repayment</option>
                    <option value="gift" class="font-weight-bold">Gift</option>
                    <option value="another" class="font-weight-bold">Another</option>
                </select>
            </div>
            <div class="form-group mx-auto">
                <label for="comment" class="font-weight-normal text-black">Comment</label>
                <textarea id="comment" name="comment" placeholder="Type something here. . . " rows="2"
                    class="form-control font-weight-bold text-black border-4"></textarea>
            </div>
            <button type="submit" class="greenButton my-3 p-1 d-block text-white btn btn-block mx-auto">Add
            </button>
            <a href="/Menu/main"
                class="text-decoration-none blackButton my-1 p-1 d-block text-white btn btn-block mx-auto">Cancel</a>
        </form>
    </div>
</article>

{% endblock %}