{% extends 'base.twig' %}

{% block title %}Expense Categories
{% endblock %}

{% block body %}

	<div class="container mt-2 p-2 h5 mx-auto">
		<div class="mt-4 bg-white rounded-lg opacity-75 shadow-lg p-4 mx-auto col-10 col-sm-9 col-md-7 col-lg-7 col-xl-6 col-xxl-8">
			<div class="mb-3 mt-0">
				<h1 class="display-6 text-center p-0">Categories of Expense</h1>
			</div>
			<table class="table text-center p-0 h5">
				<thead></thead>
				<tbody id="tableBody"></tbody>
			</table>
			<button type="button" class="greenButton my-3 p-1 d-block text-white btn btn-block mx-auto" data-toggle="modal" data-target="#set">Set Spending Limit</button>
			<button type="button" class="greenButton my-3 p-1 d-block text-white btn btn-block mx-auto" data-toggle="modal" data-target="#add" id="myBtn">Add New Category</button>
			<button type="button" class="redButton my-3 p-1 d-block text-white btn btn-block mx-auto" data-toggle="modal" data-target="#delete">Delete Category</button>
			<a href="/Menu/main" class="text-decoration-none blackButton my-1 p-1 d-block text-white btn btn-block mx-auto">Cancel</a>
		</div>
		<div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
			<form action="/expense/addCategory" method="post" id="modalForm">
				<div class="modal-dialog text-center">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Please provide the name of new category:
							</h5>
							<button type="button" class="btn-close " data-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body h5 mb-4">
							<div class="form-group mx-auto my-auto">
								<label for="category" class="font-weight-normal text-black my-auto"></label>
								<input type="text" class="form-control" pattern="[a-zA-Z]+" id="category" name="category" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="blackButton text-white btn" data-dismiss="modal" onclick="resetModal()">Close</button>
							<button type="submit" class="greenButton btn text-white">Add</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
			<form action="/expense/deleteCategory" method="post" id="modalForm2">
				<div class="modal-dialog text-center">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Delete category
							</h5>
							<button type="button" class="btn-close " data-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body h5">
							<div class="form-group mx-auto my-auto">
								<select class="form-control text-dark border-4 font-weight-bold my-auto" id="category" size="1" name="category" aria-describedby="category" required>
									<option value="">--Please choose the category--</option>
									{% for expenseCategory in expenseCategories %}
										{% if expenseCategory.name != "Another" %}
											<option value="{{expenseCategory.name}}">{{expenseCategory.name}}</option>
										{% endif %}
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="blackButton text-white btn" data-dismiss="modal" onclick="resetModal2()">Close</button>
							<button type="submit" class="redButton btn text-white">Delete</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="modal fade" id="set" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display: none;">
			<form action="/expense/setLimit" method="post" id="modalForm3">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title font-weight-bold" id="exampleModalLabel">Set spending limit
							</h5>
							<button type="button" class="btn-close " data-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body h6">
							<div class=" mx-auto mb-4">
								<select class="form-control text-dark border-4 font-weight-bold my-auto p-1" id="category" size="1" name="category" aria-describedby="category" required>
									<option value="">--Please choose the category--</option>
									{% for expenseCategory in expenseCategories %}
											{% if expenseCategory.name != "Another" %}
												<option value="{{expenseCategory.name}}">{{expenseCategory.name}}</option>
											{% endif %}
									{% endfor %}
								</select>
							</div>
							<div>
								<input type="number" min="1" max="100000" step="1" class="myinput form-control font-weight-bold text-dark border-4" id="limitAmount" name="limitAmount" placeholder="Please provide monthly limit" aria-describedby="limitAmount" required>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="blackButton text-white btn" data-dismiss="modal" onclick="resetModal3()">Close</button>
							<button type="submit" class="greenButton btn text-white">Set</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<script src="/js/expenseCategories.js"></script>
{% endblock %}
