{% extends 'base.twig' %}

{% block title %}Menu
{% endblock %}

{% block body %}

	<div class="container-fluid my-2 p-2 h4 mx-auto">
		<div class="bg-white mt-4 rounded-lg opacity-75 shadow-lg p-3 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-5">
			<div class="mb-4">
				<h1 class="display-4 text-center p-0">Personal Budget</h1>
			</div>
			<div>
				<p class="text-justify fst-italic lh-lg mb-4">Create monthly, yearly or nonstandard budgets arranged by 
															  category and keep track of your expenses.
															  Know when you go over budget and anticipate 
															  how much money you can spare to meet your targets.
				</p>
				<div class="text-center fw-bolder fst-italic m">
					Take control of your Budget!
				</div>
			</div>
		</div>
	</div>

{% endblock %}
