{% extends "base.html" %}

{% block title %}Display Balance{% endblock %}

{% block footer %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/showBalance.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>

{% endblock %}
{% block body %}

<section>
    <div class="bg-white rounded-lg opacity-75 shadow-lg h5 p-3 mx-auto text-center font-weight-bold alert alert-dismissible fade show"
        role="alert">
        <span id="showBalance"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</section>

<article>
    <div class="container mt-2 p-2 h5 mx-auto">
        <div
            class="bg-white rounded-lg opacity-75 shadow-lg p-4 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-9">
            <div class="mb-3 mt-0">
                <h1 class="display-6 text-center p-0">Incomes</h1>
            </div>
            <table class="table text-center p-0 h5">
                <thead>
                    <tr class="h4">
                        <th colspan=' 2'>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalSumIncomes = 0 %}
                    {% for income in user_incomes %}
                    <tr data-toggle='collapse' data-target='#{{income.name}}' role='button' aria-expanded='false'
                        aria-controls='collapseExample' class="category font-weight-bold">
                        <td colspan=' 2' class="bi bi-caret-down-fill "> {{income.name}}</td>
                        <td>{{income.sum}}</td>
                    </tr>
                    {% set totalSumIncomes = totalSumIncomes + income.sum %}
                    {% for individual in individual_incomes %}
                    {% if individual.nameOfCategory == income.name %}
                    <tr class='collapse' id='{{income.name}}'>
                        <td colspan=' 2'>{{individual.individual_date}} {{individual.comment}}
                        </td>
                        <td>{{individual.individual_amount}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <tr class="font-weight-bold">
                        <td colspan=' 2'>Total amount</td>
                        <td id='sumOfIncome'>{{totalSumIncomes|number_format(2, '.', '')}}</td>
                    </tr>
                </tbody>
            </table>

            {% for expense in user_expenses %}
            {% set dataObjects = {
            '{{expense.name}}' : '{{expense.sum}}',
            subheading: entry.showSub ? entry.subheading : null,
            } %}
            {% endfor %}

            <div class="mb-3 mt-0">
                <h1 class="display-6 text-center p-0">Expenses</h1>
            </div>
            <table class="table text-center p-0">
                <thead>
                    <tr class="h4">
                        <th colspan=' 2'>Category</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% set totalSumExpenses = 0 %}
                    {% for expense in user_expenses %}
                    <tr data-toggle='collapse' data-target='#{{expense.name}}' role='button' aria-expanded='false'
                        aria-controls='collapseExample' class="category font-weight-bold">
                        <td colspan=' 2' class="bi bi-caret-down-fill "> {{expense.name}}</td>
                        <td>{{expense.sum}}</td>
                    </tr>
                    {% set totalSumExpenses = totalSumExpenses + expense.sum %}
                    {% for individual in individual_expenses %}
                    {% if individual.nameOfCategory == expense.name %}
                    <tr class='collapse' id='{{expense.name}}'>
                        <td colspan=' 2'>{{individual.individual_date}} {{individual.comment}}
                        </td>
                        <td>{{individual.individual_amount}}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <tr class="font-weight-bold">
                        <td colspan=' 2'>Total amount</td>
                        <td id='sumOfExpense'>{{totalSumExpenses|number_format(2, '.', '')}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="mb-1 mt-0">
                <h1 class="display-6 text-center p-0">Pie chart of expenses</h1>
            </div>
            <div id="piechart" class="mx-auto mt-0 text-center"></div>
        </div>
    </div>
</article>

<script>

</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="/js/chart.js"></script>

{% endblock %}