{% extends 'base.twig' %}

{% block title %}User
{% endblock %}

{% block body %}

	<div class="container-fluid mt-4 p-2 h4 mx-auto">
		<div class="bg-white rounded-lg opacity-75 shadow-lg p-3 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
			<div class="mb-2">
				<h1 class="display-6 text-center p-0">Account</h1>
			</div>
			<a href="/profile/edit" class="text-decoration-none greenButton my-3 p-1 d-block text-white btn btn-block mx-auto">Edit profile details</a>
			<button type="button" class="redButton my-3 p-1 d-block text-white btn btn-block mx-auto">Delete all incomes and expenses</button>
			<button type="button" class="redButton my-3 p-1 d-block text-white btn btn-block mx-auto">Delete account</button>
			<a href="/Menu/main" class="text-decoration-none blackButton my-1 p-1 d-block text-white btn btn-block mx-auto">Cancel</a>
		</div>
	</div>

{% endblock %}
