{% extends 'base.twig' %}

{% block title %}Reset password
{% endblock %}

{% block body %}

	<div class="container mx-auto">
		<div class="bg-white text-center rounded-lg opacity-75 p-3 m-3 shadow-lg mx-auto col-10 col-sm-9 col-md-7 col-lg-5 col-xl-5 col-xxl-4">
			<div>
				<h2 class="p-1 m-1">Please check your email</h2>
				<a href="/home/index" class="text-decoration-none d-block blackButton  p-1  text-white btn  mx-auto">Back to Login Page
				</a>
			</div>
		</div>
	</div>

{% endblock %}
