{% extends "base.twig" %}

{% block title %}Reset password
{% endblock %}

{% block body %}

	<div class="container mx-auto">
		<div class="bg-white text-center rounded-lg opacity-75 p-3 m-3 shadow-lg mx-auto col-10 col-sm-9 col-md-6 col-lg-6 col-xl-6 col-xxl-8">
			<div>
				<h2 class="p-1 m-1">Password has been reset successfully</h2>
				<a href="/home/index" class="text-decoration-none blackButton  p-1  text-white btn  mx-auto">Back to Login Page
				</a>
			</div>
		</div>
	</div>

{% endblock %}
