{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<section>
    <header>
        <div>
            <h1 class="display-1 text-center p-3">Personal Budget</h1>
        </div>
    </header>
</section>
<main>
    <div class="container mt-1 p-3 h5 mx-auto">
        <form action="/login/create" method="post"
            class="bg-white rounded-lg opacity-75 shadow-lg p-3 mx-auto col-10 col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
            <div class="form-group">
                <label for="email" class="font-weight-normal text-black">Email address</label>
                <input type="email" class="form-control font-weight-bold text-dark border-4 rounded-3" id="email"
                    name="email" aria-describedby="email" required>
            </div>
            <div class="form-group">
                <label for="password" class="font-weight-normal text-black">Password</label>
                <input type="password" class="form-control font-weight-bold text-dark border-4 rounded-3" id="password"
                    name="password" required>
            </div>
            <div class="form-group">
                <label class="font-weight-normal text-black h6">Show me the Password!</label>
                <i><span class="bi bi-eye-slash" id="togglePassword"></span></i>
            </div>
            <button type="submit" class="logInButton my-3 p-1 d-block text-white btn btn-block mx-auto">Log
                In</button>
            <a href="/signUp/new"
                class="text-decoration-none newAccountButton my-1 p-1 d-block text-white btn btn-block mx-auto">Create
                New
                Account</a>
        </form>
    </div>
</main>

{% endblock %}